*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url(kokomi_background.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-style: italic;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0% 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: lightcoral;
    position: absolute;
    left: 0%;
    bottom: -10%;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.description{
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
    color: white;
    font-weight: 900;
}
button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid lightcoral;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
@-webkit-keyframes animateBubbles{
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100;
    }
}
@-moz-keyframes animateBubbles{
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100;
    }
}
@keyframes animateBubbles{
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}
@-webkit-keyframes sideWays{
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}
@-moz-keyframes sideWays{
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}
@keyframes sideWays{
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}
.x1{
    -webkit-animation: animateBubble 25s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear
    infinite, sideWays 2s ease-in-out infinite alternate;;
    left: -5%;
    top: 5%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}
.x2{
    -webkit-animation: animateBubble 20s linear
    infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear
    infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 20s linear
    infinite, sideWays 4s ease-in-out infinite alternate;
    left: 5%;
    top: 80%;
    -webkit-transform: scale(0,4);
    -moz-transform: scale(0,4);
    transform: scale(0.4);
}
.x3{
    -webkit-animation: animateBubble 28s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 28s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 28s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    left: 10%;
    top: 40%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}
.x4{
    -webkit-animation: animateBubble 22s linear
    infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear
    infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear
    infinite, sideWays 3s ease-in-out infinite alternate;
    left: 20%;
    top: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}
.x5{
    -webkit-animation: animateBubble 29s linear
    infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear
    infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear
    infinite, sideWays 4s ease-in-out infinite alternate;
    left: 30%;
    top: 50%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}
.x6{
    -webkit-animation: animateBubble 21s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 21s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 21s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    left: 50%;
    top: 0%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}
.x7{
    -webkit-animation: animateBubble 29s linear
    infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear
    infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear
    infinite, sideWays 4s ease-in-out infinite alternate;
    left: 90%;
    top: 50%;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}
.x8{
    -webkit-animation: animateBubble 22s linear
    infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear
    infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear
    infinite, sideWays 3s ease-in-out infinite alternate;
    left: 80%;
    top: 10%;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}
.x9{
    -webkit-animation: animateBubble 29s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 29s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    left: 90%;
    top: 50%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}
.x10{
    -webkit-animation: animateBubble 26s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 26s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 26s linear
    infinite, sideWays 2s ease-in-out infinite alternate;
    left: 80%;
    top: 80%;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}
.bubble{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 20px 30px rgba(0,0,0,0.2), inset 0px 10px 30px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0 20px 30px rgba(0,0,0,0.2), inset 0px 10px 30px 5px rgba(255,255,255,1);
    box-shadow: 0 20px 30px rgba(0,0,0,0.2), inset 0px 10px 30px 5px rgba(255,255,255,1);
    height: 200px;
    position: absolute;
    width: 200px;
}
.bubble::after {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0), 70%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.5)),
    color-stop(70%, rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0), 70%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0), 70%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0), 70%);
    background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0), 70%);
    filter:
    progid:DXImageTransform.Microsoft.gradient(startColor='#80ffffff', endColorstr='#00ffffff', GradienType=1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-shadow: inset 0 20px 30px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0 20px 30px rgba(255,255,255,0.3);
    box-shadow: inset 0 20px 30px rgba(255,255,255,0.3);

    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
}
